In [1]:
#Q1:Create one variable containing following type of data:i) string ii)list iii)float iv) tuple
String = "UMA"
List = [0,1,2,"three",True,5,"six"]
Float = 2.34
Tuple = (0,1,2,"three",True,5,"six")

In [2]:
#Q2: Given are somr following variables containing data:
var1 =''# String
var2 = '[DS, Ml, Python]' # String
var3 = ['DS', 'Ml', 'Python'] # List
var4 =1 # int
# What will be the data type of above given variable.

In [3]:
#Q3: Explain the use of the following operators using an example:
# /- used for dividing one number with another
45/5

9.0

In [4]:
# % - gives the remainder
45%5

0

In [5]:
# // - gives the quotient
45//5

9

In [6]:
# **- initial number to the power of other number
4**2

16

In [7]:
#Q4: Create a list of length 10 of your choice containing multiple types of data. 
#Using for loop print the element and its data type
Q = [0,1,2,"three",True,5,"six",7.5,False,9,10+1j]
for i in Q:
    print(f"{i} is of type {type(i)}")

0 is of type <class 'int'>
1 is of type <class 'int'>
2 is of type <class 'int'>
three is of type <class 'str'>
True is of type <class 'bool'>
5 is of type <class 'int'>
six is of type <class 'str'>
7.5 is of type <class 'float'>
False is of type <class 'bool'>
9 is of type <class 'int'>
(10+1j) is of type <class 'complex'>

In [8]:
#Q5: Using a while loop, verify if the number A is purely divisible by number B 
#and if so then how many times it can be divisible

In [9]:
A = 45
B = 5

while A%B == 0:
    D = A/B 
    print(f"{A} is divisible by {B} and divided by {D} times.")
    break

else:
    print(f"{A} is not divisible by {B}")

45 is divisible by 5 and divided by 9.0 times.

In [10]:
#Q6: Create a list containing 25 int type data. 
#Using for loop and if-else condition print if the element is divisible by 3 or not.

In [11]:
L = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in L:
    if i%3 == 0:
        print(f"{i} is divisble by 3.")
        
    else:
        print(f"{i} is not divisble by 3.")

1 is not divisble by 3.
2 is not divisble by 3.
3 is divisble by 3.
4 is not divisble by 3.
5 is not divisble by 3.
6 is divisble by 3.
7 is not divisble by 3.
8 is not divisble by 3.
9 is divisble by 3.
10 is not divisble by 3.
11 is not divisble by 3.
12 is divisble by 3.
13 is not divisble by 3.
14 is not divisble by 3.
15 is divisble by 3.
16 is not divisble by 3.
17 is not divisble by 3.
18 is divisble by 3.
19 is not divisble by 3.
20 is not divisble by 3.
21 is divisble by 3.
22 is not divisble by 3.
23 is not divisble by 3.
24 is divisble by 3.
25 is not divisble by 3.

In [ ]:
#Q7: What do you understand about mutable and immutable data types? Give examples for both showing this property.
# Mutable:An data type that allows you to change its values without changing its identity is a mutable Data type.
#eg: List
# Immutable:Immutable datatypes are data types that cannot be modified or altered after they have been created.
#eg: String